<!-- start footer  -->
    	</div>
    </div>
  </div>
  <div class="pagediv" style="float:left;background-image:url({{ base_url }}assets/img/bgbottom.gif); height:80px;">
  <div class="leftdiv"><img src="{{ base_url }}assets/img/lembagafooter.png" align="left" style="padding-top:34px; padding-left:10px;" /></div>
  <div class="rightdiv" style="color: #FFFFFF; padding-top:34px; padding-right:20px; font-size:11px;">Copyright &copy; 2012, Lembaga Sandi Negara</div>
  </div>
</div>

</body>
</html>