<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page_title }}</title>
<link href="{{ base_url }}assets/css/new_style.css" rel="stylesheet" type="text/css" />
<link href="{{ base_url }}assets/css/menuset.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon"  href="{{ base_url }}assets/img/icletter.ico" type="image/x-icon" />
<script type="text/javascript" src="{{ base_url }}assets/js/jquery1.8.js"></script>
<script type="text/javascript" src="{{ base_url }}assets/js/script.js"></script>
<script src="{{ base_url }}assets/js/jquery-ui.js"></script>

<script type="text/javascript" src="{{ base_url }}assets/js/accordion.js"></script>
<link rel="stylesheet" href="{{ base_url }}assets/css/jquery-ui.css">
  
<script language="javascript">
jQuery(document).ready(function() {
	jQuery("#topnews2").hide()
});

function showtopnews(obj)
{
	jQuery("#topnews1").hide();
	jQuery("#topnews2").hide();
	jQuery("#"+obj).show();
}
</script>
<script src="{{ base_url }}assets/jqgrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="{{ base_url }}assets/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="{{ base_url }}assets/jqgrid/js/jquery.jqGrid.fluid.js" type="text/javascript"></script>
<style type="text/css" media="screen">
	@import "{{ base_url }}assets/simpletab/css/style.css";
</style>

<!-- SimpleTabs -->
<script type="text/javascript" src="{{ base_url }}assets/simpletab/js/simpletabs_1.3.js"></script>
<style type="text/css" media="screen">
	@import "{{ base_url }}assets/simpletab/css/simpletabs.css";
</style>


<script type="text/javascript">
function $(obj){return document.getElementById(obj);}

ddaccordion.init({
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})
</script>
<style type="text/css">
	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}
</style>

<link rel="stylesheet" type="text/css" media="screen" href="{{ base_url }}assets/jqgrid/themes/redmond/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ base_url }}assets/jqgrid/themes/redmond/ui.jqgrid.css" />
</head>

<body>
<div id="esdmtop">
<img src="{{ base_url }}assets/img/new_esdmtop.png"/>
</div>
<div id="container">
	<div id="header"> 
    	<div id="appicon">     	
    	</div>
        <img src="{{ base_url }}assets/img/new_eleticon.png" id="theimg" />
    	<div id="smallnav">
        <img src="{{ base_url }}assets/img/new_iconcontact.png"/>
        <img src="{{ base_url }}assets/img/new_iconmap.png"/>
        </div>
    	<div id="header_icon">
            <img src="{{ base_url }}assets/img/new_geothermal.png" id="icon_geothermal" class="icon_imgheader" />  
            <img src="{{ base_url }}assets/img/new_biofuel.png" id="icon_biofuel" class="icon_imgheader" /> 
            <img src="{{ base_url }}assets/img/new_bioenergy.png" id="icon_bioenergy" class="icon_imgheader" /> 
            <img src="{{ base_url }}assets/img/new_surya.png" id="icon_surya" class="icon_imgheader" />   
    	</div>
    </div>
    <div id="content">
      <div id="left_column">
          <div id="menu">
             <img src="{{ base_url }}assets/img/new_topmenu.gif"/>
              <div id="nav">    sssss
                {% if log.userlogged == true %}
                    {% if log.userlevel == 'A' %}
                        {% include 'tpl/menuadminelet.html' %}                    
                    {% elseif log.userlevel == 'O'%}
                        {% include 'tpl/menuoperatorelet.html' %}
                    {% elseif log.userlevel == 'U'%}
                        {% include 'tpl/menuuserelet.html' %}
                    {% endif %}
                    
                    
                    {% if log.usermodul == 'B' %}
                        {% include 'tpl/menustaffelet.html' %}
                     {% endif %}
                {% endif %} 
               </div>
            </div> 
            
            <h1 class="listitle">10 berita teratas</h1>
            <div id="topnews1" class="topnews">        	
                {% for topnews1 in news %}
                    {% if loop.index <= 5%}
                        <div class="newstitle10"><a href="{{ base_url }}index.php/contentmaster/newsview/{{ topnews1.getId() }}">{{ topnews1.getJudul() }}</a></div>
                    {% endif %}
                {% endfor %}
                <div class="topnewspageinfo">Top News <strong>1</strong> - <strong>5</strong></div>
            </div>
            
            <div id="topnews2" class="topnews" >
                {% for topnews2 in news %}
                    {% if loop.index >= 6%}
                        <div class="newstitle10"><a href="{{ base_url }}index.php/contentmaster/newsview/{{ topnews2.getId() }}">{{ topnews2.getJudul() }}</a></div>
                    {% endif %}
                {% endfor %}                
                <div class="topnewspageinfo">Top News <strong>6</strong> - <strong>10</strong></div>
            </div>
        	
            <div style="text-align:right; margin:0px 40px 0px 0px;" class="dokdesc10"><a href="javascript:void(0);" onclick="showtopnews('topnews1')">[1]</a><a href="javascript:void(0);" onclick="showtopnews('topnews2')">[2]</a></div>
        
        </div>
        
        <div id="right_column">
        
        
        
        {% block content %}{% endblock %}
            
            <div id="footer">
                Copyright © 2015, Dian Global Tech - DGT<br />
                Recomended Browser : Google Chrome<br />
                <br />
            </div>
        </div>
    </div>
</div>
</body>
</html>
