<div class="arrowlistmenu">
    <span class="listitle" style="margin:0 0;">Navigasi User</span>
    <h3 class="menuheader expandable">Operator Akses klik disini</h3>
    <ul class="categoryitems">
    	<li><a href="{{ base_url }}index.php/home/listdok">Dokumen Group</a></li>
        <li><a href="{{ base_url }}index.php/home/listdokpribadi">Dokumen Pribadi</a></li>
        <li><a href="{{ base_url }}index.php/home/listdokpublik">Dokumen Publik</a></li>
      	<li><a href="{{ base_url }}index.php/dok/form">Upload Dokumen</a></li>
        <li><a href="{{ base_url }}index.php/report/dokumenreport">Dokumen User</a></li> 
        <li><a href="{{ base_url }}index.php/report/dokumenlogreport">Dokumen User Log</a></li>
        <li><a href="{{ base_url }}index.php/home/gantipass">Ganti Password</a></li>
        <li><a href="{{ base_url }}index.php/home/logout">Logout</a></li>
    </ul>
</div>