<div class="arrowlistmenu">
    <span class="listitle" style="margin:0 0;">Navigasi Operator</span>
    <h3 class="menuheader expandable">Pengolahan Data</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/jenissurat/form">Jenis Surat</a></li>
        <li><a href="{{ base_url }}index.php/aksisurat/form">Aksi Surat</a></li>
        <li><a href="{{ base_url }}index.php/statussurat/form">Status Surat</a></li>
        <li><a href="{{ base_url }}index.php/sifatsurat/form">Sifat Surat</a></li>
        <li><a href="{{ base_url }}index.php/tujuansurat/form">Tujuan Surat</a></li>        
        <li><a href="{{ base_url }}index.php/jabatan/form">Jabatan</a></li>
        <li><a href="{{ base_url }}index.php/staff/form">Staff</a></li>
    </ul>
    <h3 class="menuheader expandable">Laporan</h3>
    <ul class="categoryitems">
    	<li><a href="#">Surat Masuk</a></li>
        <li><a href="#">Surat Keluar</a></li>
        <li><a href="#">Penugasan Disposisi</a></li>
        <li><a href="#">Status Approval</a></li> 
        <li><a href="#">Status Penyelasaian</a></li>
    </ul>
    
    <h3 class="menuheader expandable">Utilitas</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/home/gantipass">Ganti Password</a></li>
        <li><a href="{{ base_url }}index.php/home/logout">Logout</a></li>
    </ul>
</div>