<div class="arrowlistmenu">
    <span class="listitle" style="margin:0 0;">Navigasi E-Reporting</span>
    <h3 class="menuheader expandable">Pengolahan Data</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/perusahaan/form">Perusahaan</a></li>
        <li><a href="{{ base_url }}index.php/jenissurvey/form">Jenis Survey</a></li>
        <!--<li><a href="{{ base_url }}index.php/jenispekerjaan/form">Aktifitas</a></li>-->
        <li><a href="{{ base_url }}index.php/komponenbiaya/form">Kelompok Biaya</a></li>
    </ul>
    
    <h3 class="menuheader expandable">Transaksi</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/project/setwilayah">Set Wilayah Kerja (Project)</a></li>
        <li><a href="{{ base_url }}index.php/detailproject/setDetailNew">Set Aktifitas</a></li>
        <li><a href="{{ base_url }}index.php/detailpekerjaan/setDetail">Set Detail Aktifitas</a></li>
        <li><a href="{{ base_url }}index.php/setbiaya/setKomponenBiaya">Set Komponen Biaya</a></li>
        <li><a href="{{ base_url }}index.php/planning/listPlanning">Set Perencanaan</a></li>
        <li><a href="{{ base_url }}index.php/realisasi/listRealisasi">Set Realisasi</a></li>
   </ul>
    <!--
    <h3 class="menuheader expandable">Pengolahan Konten</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/contentmaster/berandaform">Kontent Beranda</a></li>
        <li><a href="{{ base_url }}index.php/contentmaster/tentangform">Kontent Tentang Kami</a></li>
        <li><a href="{{ base_url }}index.php/contentmaster/kontakform">Kontent Kontak Kami</a></li>
    </ul>
    
    <h3 class="menuheader expandable">Berita dan Media</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/newsmaster/form">Berita</a></li>
        <li><a href="{{ base_url }}index.php/contentmaster/runningtextform">Running Text</a></li>              
        <li><a href="{{ base_url }}index.php/linkmaster/form">Eksternal Link</a></li>
    </ul>
    -->
    <h3 class="menuheader expandable">Laporan</h3>
    <ul class="categoryitems">
    	<li><a href="{{ base_url }}index.php/laporanperusahaan/repPerusahaan">Perusahaan</a></li>
        <li><a href="{{ base_url }}index.php/laporanperusahaan/repProject">Wilayah Kerja (Project)</a></li>
        <li><a href="#">Daftar Rencana</a></li>
        <li><a href="#">Daftar Realisasi</a></li>
    </ul>
    
    <h3 class="menuheader expandable">Utilitas</h3>
    <ul class="categoryitems">
        <li><a href="{{ base_url }}index.php/home/gantipass">Ganti Password</a></li>
        <li><a href="#">Akses Perusahaan</a></li>
        <li><a href="{{ base_url }}index.php/home/logout">Logout</a></li>
    </ul>
</div>