{% extends "tpl/headereletbaru.html" %}

{% block content %}
<script>
jQuery(document).ready(function(){
	jQuery("#form1").validate();
});
</script>
<div class="title">Aksi Surat</div>
<form action="" method="post" name="form1" id="form1">
<table width="100%" border="0">
  <tr>
    <td width="9%">Kode Aksi</td>
    <td width="1%">:</td>
    <td width="90%"><input name="kode_aksi" type="text" id="kode_aksi" class="required" size="10">
    *
      <input type="hidden" name="id" id="id" /></td>
  </tr>
  <tr>
    <td>Nama Aksi</td>
    <td>:</td>
    <td><input name="nama_aksi" type="text" id="nama_aksi" class="required" size="40">
      * </td>
  </tr>
  <tr>
    <td valign="top">Keterangan</td>
    <td valign="top">:</td>
    <td><textarea name="keterangan" id="keterangan" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Simpan">
      <input type="reset" name="button3" id="button3" value="Batal" class="button" onclick="jQuery('#id').val('');" /></td>
  </tr>
</table>
</form>
<fieldset>
<legend>Pencarian</legend>
<table border="0">
  <tr>
    <td>Cari :</td>
    <td><input name="key" type="text" id="key" size="30" /></td>
    <td>Berdasarkan :</td>
    <td><select name="berd" id="berd">
      <option value="a.kode_aksi">Kode Jenis</option>
      <option value="a.nama_aksi">Nama Jenis</option>
      <option value="a.keterangan">Keterangan</option>
    </select>    </td>
    <td><input type="button" name="button2" id="button2" value="Cari" class="button" onclick="search_data()" /></td>
    <td><input type="button" name="button4" id="button4" value="Bersihkan" class="button" onclick="clear_search()" /></td>
  </tr>
</table>
</fieldset>

<table width="1000" border="0" id="ListData"></table>
<div id="pager"></div>
<div style="padding-top:20px; padding-bottom:20px;">
<input type="button" name="button4" id="button4" value="Hapus Data" class="button" onclick="hapus_data()" /><br />
<br />

*) Double klik pada baris data untuk mengedit<br />
*) Centang pada baris data untuk menghapus
</div>
<script language="javascript">
base_url=jQuery("#base_url").val();
function load_grid(){
	jQuery("#ListData").jqGrid({
		url: '{{ base_url }}index.php/aksisurat/viewdata',
		datatype: "json",
		mtype : "post",
		
		colNames:['','Kode', 'Nama', 'Keterangan', 'Add Date', 'Add User'],
		colModel:[
			{name:'id',index:'id',key:true, width:50,editable:true, hidden:true},
			{name:'kode_aksi',index:'kode_aksi', width:90},
			{name:'nama_aksi',index:'nama_aksi', width:170},
			{name:'keterangan',index:'keterangan', width:160},
			{name:'add_date',index:'add_date', width:120},
			{name:'add_user',index:'add_user', width:80},
		],
		ondblClickRow: function(rowid) {
			jQuery("#id").val(jQuery("#ListData").getCell(rowid,'id'));
			jQuery("#kode_aksi").val(jQuery("#ListData").getCell(rowid,'kode_aksi'));
			jQuery("#nama_aksi").val(jQuery("#ListData").getCell(rowid,'nama_aksi'));
			jQuery("#keterangan").val(jQuery("#ListData").getCell(rowid,'keterangan'));
		},
		pager: jQuery('#pager'),
		rowNum:20,
		rowList:[0,2,5],
		viewrecords: true,
		sortorder: "desc",
		caption: "Daftar Aksi Surat",
		height:320,
		width:750,
		multiselect : true				
	});
	
	return false;
}
function hapus_data(){
	data = jQuery("#ListData").jqGrid('getGridParam','selarrrow');
	if(data==""){
		alert("Tentukan dulu data yang akan di hapus dengan mencentang");
	}
	else{
		if(confirm("Anda yakin?"))
			delete_data(data);
		else
			return false
	}
}
function search_data(){
	key=jQuery("#key").val();
	by=jQuery("#berd").val();
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/aksisurat/finddata/'+by+'/'+key});
	jQuery("#ListData").trigger("reloadGrid");	
}
function clear_search(){
	jQuery("#key").val('');
	jQuery("#berd").val('');
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/aksisurat/viewdata'});
	jQuery("#ListData").trigger("reloadGrid");	
}
function delete_data(data){
	jQuery.post("{{ base_url }}index.php/aksisurat/delete_data",{ id : data},
	function(output){
		if(output!="") alert(output);
		else clear_search();
	});
}
load_grid();
</script>
{% endblock %}
