{% extends "tpl/headeredoc.html" %}

{% block content %}
<script>
jQuery(document).ready(function(){
	jQuery("#form1").validate({});	
});
</script>

<style>
	#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}

	#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
	}

	#customers tr:nth-child(even){background-color: #f2f2f2;}

	#customers tr:hover {background-color: #ddd;}

	#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	}
</style>

<link rel="stylesheet" href="{{ base_url }}assets/tree/style.min.css">


<div class="title">dokumen</div>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table width="100%" border="0">
  
  <tr>
    <td width="9%" nowrap="nowrap">Kategori Dokumen</td>
    <td width="1%" nowrap="nowrap">:</td>
    <td width="90%" nowrap="nowrap"><select name="id_kategori" id="id_kategori">
      
    {% for kat in kats %}
       
      <option value="{{ kat.getId() }}">{{ kat.getNamaKategori() }}</option>
           
    {% endfor %}
    
    </select>
      <input type="hidden" name="id" id="id" /></td>
  </tr>
  <tr>
    <td nowrap="nowrap">File</td>
    <td nowrap="nowrap">:</td>
    <td nowrap="nowrap"><input type="file" name="filedok" id="filedok" required /></td>
  </tr>
  <tr>
    <td nowrap="nowrap">Judul</td>
    <td nowrap="nowrap">:</td>
    <td nowrap="nowrap"><input name="judul" type="text" id="judul" size="60" class="required" /> 
    *</td>
  </tr>
  <tr>
    <td valign="top" nowrap="nowrap">Abstrak</td>
    <td valign="top" nowrap="nowrap">:</td>
    <td nowrap="nowrap"><textarea name="deskripsi" id="deskripsi" cols="60" rows="8" class="required"></textarea>
    *</td>
  </tr>
  <tr>
    <td nowrap="nowrap">Penulis</td>
    <td nowrap="nowrap">&nbsp;</td>
    <td nowrap="nowrap"><input name="penulis" type="text" id="penulis" size="40" class="required" /> 
    *</td>
  </tr>
  
  <tr>
    <td nowrap="nowrap">Untuk Publik</td>
    <td nowrap="nowrap">:</td>
    <td nowrap="nowrap">

	{% if usergroup == 0 %}	
	   
	<select name="publik" id="publik" onchange="groupRow()">
      <option value="1">Ya</option>
      <option value="0" selected>Grup Tertentu</option>
      <!-- <option value="2">Tidak</option> -->
    </select>
	  
	{% else %}
	
	<select name="publik" id="publik" onchange="expandgroup2(this.value);">
      <option value="1">Ya</option>
      <option value="0">Grup Tertentu</option>
      <option value="2">Tidak</option>
    </select>
	
	{% endif %}
  
</td>
  </tr>


  <tr id="groupRow">
    <td valign="top" nowrap="nowrap">Untuk Group</td>
    <td valign="top" nowrap="nowrap">:</td>
    <td nowrap="nowrap">

	<div id="jstree">
	</div>

	<input type="" name="groupdok" id="myText" value="" />

	<ul style="display: none;" id="keluarna">
	</ul>
	
	<!-- 	
	{% set total = 0 %}
    {% for group in groups if group.id_group > 0 %}
	<input type="checkbox" name="id_group[]" id="id_group{{ loop.index }}" value="{{ group.id_group }}" />
	
    <input type="hidden" name="idgroup{{ loop.index }}" id="idgroup{{ loop.index }}" value="{{ group.id_group }}" />( {{ group.kode_group }} ) - {{ group.nama_group }} - {{ group.parent}} <br />
	
	
	{% set total = loop.index %}
	{% endfor %} -->
	
    <input type="hidden" name="jnum" id="jnum" value="{{ total }}" />
    </td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Simpan">
      <input type="reset" name="button3" id="button3" value="Batal" class="button" onclick="jQuery('#id').val(''); jQuery('#groupRow').hide();" /></td>
  </tr>
</table>
</form>
<!-- <fieldset>
<legend>Pencarian</legend>
<table border="0">
  <tr>
    <td>Cari :</td>
    <td><input name="key" type="text" id="key" size="30" /></td>
    <td>Berdasarkan :</td>
    <td><select name="berd" id="berd">
      <option value="a.judul">Judul</option>
      <option value="a.deskripsi">Abstrak</option>
      <option value="b.nama_lengkap">Penulis</option>
    </select>    </td>
    <td><input type="button" name="button2" id="button2" value="Cari" class="button" onclick="search_data()" /></td>
    <td><input type="button" name="button4" id="button4" value="Bersihkan" class="button" onclick="clear_search()" /></td>
  </tr>
</table>
</fieldset> -->

<style>
	.editGan {
		cursor: pointer;
	}
</style>

<table border="1" id="customers">
	<thead>
		<tr>
			<th nowrap="nowrap">Kategori</th>
			<th nowrap="nowrap">Judul</th>
			<th nowrap="nowrap">Deskripsi</th>
			<th nowrap="nowrap">Penulis</th>
			<th nowrap="nowrap">Aksi</th>
		</tr>
	</thead>
	<tbody>
		{% for dok in dokumen %}
		<tr>
			<td nowrap="nowrap"> {{ dok.nama_kategori }}  </td>
			<td nowrap="nowrap"> {{ dok.judul }} </td>
			<td nowrap="nowrap"> {{ dok.deskripsi }} </td>
			<td nowrap="nowrap"> {{ dok.penulis }} </td>
			<td nowrap="nowrap"> 
				<a href="{{ base_url }}index.php/dok/delete_data/{{ dok.id_dokumen }}"
					onclick="javascript: return confirm('Anda yakin hapus ?')">Hapus</a>
				<!-- <span class="editGan" data-id='wehehe' id="edit">Edit gan</span> -->
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<table width="1000" border="0" id="ListData"></table>
<div id="pager"></div>
<div style="padding-top:20px; padding-bottom:20px;">
<!-- <input type="button" name="button4" id="button4" value="Hapus Data" class="button" onclick="hapus_data()" /><br /> -->
<br />

</div>

<script type="text/javascript" src="{{ base_url }}assets/js/jquery1.8.js"></script>
<script src="{{ base_url }}assets/tree/jstree.js"></script>

<script language="javascript">

	$(document).on('click', '#edit', function () {
		alert($(this).data('id'))
	});

base_url=jQuery("#base_url").val();
function load_grid(){
	// alert("asdasd")
	jQuery("#ListData").jqGrid({
		url: '{{ base_url }}index.php/dok/viewdata',
		datatype: "json",
		mtype : "post",
		
		colNames:['','','Kategori', 'Judul', 'Nama File', 'Penulis', 'Terbaca', 'Pengunggah','','', '', 'Add Date', 'Add User'],
		colModel:[
			{name:'id_dokumen',index:'id_dokumen',key:true, width:50,editable:true, hidden:true},
			{name:'id_kategori',index:'id_kategori', width:90, hidden:true},
			{name:'nama_kategori',index:'nama_kategori', width:170},
			{name:'judul',index:'judul', width:160},
			{name:'nama_file',index:'nama_file', width:160},
			{name:'penulis',index:'penulis', width:160},
			{name:'terbaca',index:'terbaca', width:100},
			{name:'pengunggah',index:'pengunggah', width:160},
			{name:'publik',index:'publik', hidden:true},
			{name:'deskripsi',index:'deskripsi', hidden:true},
			{name:'groupdok',index:'groupdok', hidden:true},
			{name:'add_date',index:'nama_status', width:120},
			{name:'add_user',index:'add_user', width:80},
		],
		ondblClickRow: function(rowid) {
			jQuery("#id").val(jQuery("#ListData").getCell(rowid,'id_dokumen'));
			jQuery("#id_kategori").val(jQuery("#ListData").getCell(rowid,'id_kategori'));
			jQuery("#judul").val(jQuery("#ListData").getCell(rowid,'judul'));
			jQuery("#deskripsi").val(jQuery("#ListData").getCell(rowid,'deskripsi'));
			jQuery("#penulis").val(jQuery("#ListData").getCell(rowid,'penulis'));
			jQuery("#publik").val(jQuery("#ListData").getCell(rowid,'publik'));
			if("{{ usergroup }}" == 0)
			{
				// expandgroup(jQuery("#ListData").getCell(rowid,'publik'), jQuery("#ListData").getCell(rowid,'groupdok'));
			 	expandgroup2(jQuery("#ListData").getCell(rowid,'publik'));
			}
			else if("{{ usergroup }}" == 2)
			{
				expandgroup(jQuery("#ListData").getCell(rowid,'publik'), jQuery("#ListData").getCell(rowid,'groupdok'));
			}
			else{
			 	expandgroup2(jQuery("#ListData").getCell(rowid,'publik'));
			}
		},
		pager: jQuery('#pager'),
		rowNum:20,
		rowList:[0,2,5],
		viewrecords: true,
		sortorder: "desc",
		caption: "Daftar Dokumen",
		height:320,
		width:750,
		multiselect : true				
	});
	
	return false;
}
function hapus_data(){
	data = jQuery("#ListData").jqGrid('getGridParam','selarrrow');
	if(data==""){
		alert("Tentukan dulu data yang akan di hapus dengan mencentang");
	}
	else{
		if(confirm("Anda yakin?"))
			delete_data(data);
		else
			return false
	}
}
function search_data(){
	key=jQuery("#key").val();
	by=jQuery("#berd").val();
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/dok/finddata/'+by+'/'+key});
	jQuery("#ListData").trigger("reloadGrid");	
}
function clear_search(){
	jQuery("#key").val('');
	jQuery("#berd").val('');
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/dok/viewdata'});
	jQuery("#ListData").trigger("reloadGrid");	
}
function delete_data(data){
	jQuery.post("{{ base_url }}index.php/dok/delete_data",{ id : data},
	function(output){
		if(output!="") alert(output);
		else clear_search();
	});
}
function groupRow()
{
	console.log("ini disini");
	if("{{ usergroup }}" == 0)
	{
		if(jQuery("#publik").val()>0)
			jQuery("#groupRow").hide();
		else
			jQuery("#groupRow").show();
	}
	else
		jQuery("#groupRow").hide();
}
function expandgroup(publik, group)
{
	if(publik == 0)
	{

		console.log("hello");
		console.log("hello");
		jQuery("#groupRow").show();
		arr = group.split(',');
		
		for(y=0; y<arr.length; y++){
			for(x=1; x<=jQuery("#jnum").val(); x++)
			{
				if(jQuery("#idgroup"+x).val() == arr[y])
				document.getElementById("id_group"+x).checked=true;				
			}
		}
	}
	else
	{
		for(x=1; x<=jQuery("#jnum").val(); x++)
		{
			document.getElementById("id_group"+x).checked=false;				
		}
		jQuery("#groupRow").hide();
	}
		
}
function expandgroup2(publik)
{
	if(publik == 2)
	{
		console.log("hello");
		jQuery("#groupRow").show();
		for(x=1; x<=jQuery("#jnum").val(); x++){
			if(jQuery("#idgroup"+x).val() == "{{ usergroup }}") {
				document.getElementById("id_group"+x).checked=true;	
			}
		}
	}
	else
	{
		jQuery("#groupRow").show();
		for(x=1; x<=jQuery("#jnum").val(); x++){
			document.getElementById("id_group"+x).checked=false;				
			
		}
	}
	jQuery("#groupRow").hide();
}
// alert("!23123")
groupRow()
load_grid();
</script>

<!-- <script src="{{ base_url }}assets/tree/jquery.min.js"></script> -->

<script>
    $('#jstree').jstree({
        'plugins': ['checkbox', 'wholerow'],
        'core': {
            'data': [
                
                {% for group in groups if group.id_group > 0 %}
					{% if group.level == 1 %}
						{
							'id': ' {{ group.id_group }} ',
							'parent': '#',
							'text': ' {{ group.nama_group }}'
						},
					{% else %}
					{
						'id': ' {{ group.id_group }} ',
						'parent': ' {{ group.parent }} ',
						'text': ' {{ group.nama_group }}'
					},
					{% endif %}
                {% endfor %}
                ],
            'animation': false,
            //'expand_selected_onload': true,
            'themes': {
                'icons': false,
            }
        },
        'search': {
            'show_only_matches': true,
            'show_only_matches_children': true
        }
    })


    $('#jstree').on('changed.jstree', function (e, data) {
        var objects = data.instance.get_selected(true)
        var leaves = $.grep(objects, function (o) {
            return data.instance.is_leaf(o)
        })
        var list = $('#keluarna')
        var listna = [];
        
        list.empty()
        $.each(leaves, function (i, o) {
            $('<li/>').text(o.id).appendTo(list)
        })

        var uwu = $("#keluarna").jstree("get_selected").text();
       
        var replaced = uwu.split('  ').join(',');

        document.getElementById("myText").value = replaced;
        console.log(replaced);
    })


</script>



{% endblock %}
