{% extends "tpl/headereletbaru.html" %}

{% block content %}

<div class="title">Staff</div>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table width="100%" border="0">
  <tr>
    <td width="9%">No Induk</td>
    <td width="1%">:</td>
    <td width="90%"><input name="no_induk" type="text" id="no_induk" class="required" size="10">
    *
      <input type="hidden" name="id" id="id" /></td>
  </tr>
  <tr>
    <td>Nama</td>
    <td>:</td>
    <td><input name="nama" type="text" id="nama" class="required" size="40">
      * </td>
  </tr>
  
  <tr>
    <td>Kelamin</td>
    <td>:</td>
    <td><select name="kelamin" id="kelamin">
      <option value="L">Pria</option>
      <option value="P">Wanita</option>
    </select>      
      * </td>
  </tr>
  <tr>
    <td>Photo</td>
    <td>:</td>
    <td><input type="file" name="photo" id="photo" />      
      * </td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td><input name="email" type="text" id="email" class="required" size="40">
      * </td>
  </tr>
  <tr>
    <td>Satuan</td>
    <td>:</td>
    <td><select name="group" id="group">
    {% for satuan in group %}
     	<option value="{{ satuan.getId() }}">{{ satuan.getNamaGroup() }}</option>
    {% endfor %}
    </select>      
      * </td>
  </tr>
  <tr>
    <td>Jabatan</td>
    <td>:</td>
    <td><select name="jabatan" id="jabatan">
    {% for jbtn in jabatan %}
     	<option value="{{ jbtn.getId() }}">{{ jbtn.getInisial() }} | {{ jbtn.getNamaJabatan() }}</option>
    {% endfor %}
    </select>      
      * </td>
  </tr>
  <tr>
    <td>Status</td>
    <td>:</td>
    <td><select name="status" id="status">
      <option value="Y">Aktif</option>
      <option value="N">Non Aktif</option>
    </select>      
      * </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Simpan">
      <input type="reset" name="button3" id="button3" value="Batal" class="button" onclick="jQuery('#id').val('');" /></td>
  </tr>
</table>
</form>
<fieldset>
<legend>Pencarian</legend>
<table border="0">
  <tr>
    <td>Cari :</td>
    <td><input name="key" type="text" id="key" size="30" /></td>
    <td>Berdasarkan :</td>
    <td><select name="berd" id="berd">
      <option value="a.kode_tujuan">Kode Tujuan</option>
      <option value="a.nama_tujuan">Nama Tujuan</option>
      <option value="a.keterangan">Keterangan</option>
    </select>    </td>
    <td><input type="button" name="button2" id="button2" value="Cari" class="button" onclick="search_data()" /></td>
    <td><input type="button" name="button4" id="button4" value="Bersihkan" class="button" onclick="clear_search()" /></td>
  </tr>
</table>
</fieldset>

<table width="1000" border="0" id="ListData"></table>
<div id="pager"></div>
<div style="padding-top:20px; padding-bottom:20px;">
<input type="button" name="button4" id="button4" value="Hapus Data" class="button" onclick="hapus_data()" /><br />
<br />

*) Double klik pada baris data untuk mengedit<br />
*) Centang pada baris data untuk menghapus
</div>
<script language="javascript">
base_url=jQuery("#base_url").val();
function load_grid(){
	jQuery("#ListData").jqGrid({
		url: '{{ base_url }}index.php/staff/viewdata',
		datatype: "json",
		mtype : "post",
		
		colNames:['','No Induk', 'Nama', 'Kelamin', 'Add Date', 'Add User'],
		colModel:[
			{name:'id',index:'id',key:true, width:50,editable:true, hidden:true},
			{name:'no_induk',index:'no_induk', width:90},
			{name:'nama',index:'nama', width:170},
			{name:'kelamin',index:'kelamin', width:160},
			{name:'add_date',index:'add_date', width:120},
			{name:'add_user',index:'add_user', width:80},
		],
		ondblClickRow: function(rowid) {
			jQuery("#id").val(jQuery("#ListData").getCell(rowid,'id'));
			jQuery("#kode_tujuan").val(jQuery("#ListData").getCell(rowid,'kode_tujuan'));
			jQuery("#nama_tujuan").val(jQuery("#ListData").getCell(rowid,'nama_tujuan'));
			jQuery("#keterangan").val(jQuery("#ListData").getCell(rowid,'keterangan'));
		},
		pager: jQuery('#pager'),
		rowNum:20,
		rowList:[0,2,5],
		viewrecords: true,
		sortorder: "desc",
		caption: "Daftar Tujuan Surat",
		height:320,
		width:750,
		multiselect : true				
	});
	
	return false;
}
function hapus_data(){
	data = jQuery("#ListData").jqGrid('getGridParam','selarrrow');
	if(data==""){
		alert("Tentukan dulu data yang akan di hapus dengan mencentang");
	}
	else{
		if(confirm("Anda yakin?"))
			delete_data(data);
		else
			return false
	}
}
function search_data(){
	key=jQuery("#key").val();
	by=jQuery("#berd").val();
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/tujuansurat/finddata/'+by+'/'+key});
	jQuery("#ListData").trigger("reloadGrid");	
}
function clear_search(){
	jQuery("#key").val('');
	jQuery("#berd").val('');
	
	jQuery("#ListData").setGridParam({url:'{{ base_url }}index.php/tujuansurat/viewdata'});
	jQuery("#ListData").trigger("reloadGrid");	
}
function delete_data(data){
	jQuery.post("{{ base_url }}index.php/tujuansurat/delete_data",{ id : data},
	function(output){
		if(output!="") alert(output);
		else clear_search();
	});
}
load_grid();
</script>
<script>
jQuery(document).ready(function(){
	jQuery("#form1").validate();
});
</script>
{% endblock %}
